<!DOCTYPE html>
<html>
    <head>
        <title>moooore</title>
    </head>
    <body>
        <h1>Last Page</h1>
        <p>
            smashbyy: PepeHands
            Twitch PrimeKeepupkid: dayum
            Twitch Primedirtypuer: hasanp7
            OUR CHAT NOW hasanp7
            OUR CHAT NOW
            3-Month SubscriberPizzaBottle69: kinda cool FeelsBadMan
            Twitch Primesneps_over_sabes: !song
            ModeratorDestinyGGBot: Not playing any songs. Last played "Cyclone - Mono" 2 days ago https://last.fm/user/StevenBonnellII
            Kukumbas: YEA
            Kalastelija01: miyanoHype
        </p>
        <a href="{{ url_for('index') }}">See less</a>
    </body>
</html>
